<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd">
	
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/resource/**" location="/resource/" />
	<mvc:resources mapping="/*.html" location="/" />
	
	<context:component-scan base-package="mrb.web.controller" />
	<context:component-scan base-package="mrb.web.service" />
	
<!-- 	<bean id="mrbService" class="mrb.service.MRBService"> -->
<!-- 		<constructor-arg ref="jdbcTemplate" /> -->
<!-- 	</bean> -->
	
	<mvc:annotation-driven />
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>/WEB-INF/resource/messages</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="en" />
		<property name="cookieName" value="myAppLocaleCookie"></property>
		<property name="cookieMaxAge" value="3600"></property>
	</bean>

	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="locale" />
		</bean>
		<mvc:interceptor>
        	<mvc:mapping path="/**" />
        	<bean class="mrb.web.utilities.MapToModelInterceptor"></bean>
    	</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@10.212.0.38:1521:ORCLT"
		p:username="clvits"
		p:password="YR2007"
		p:initialSize="5" />
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	
	<!-- <jee:jndi-lookup id="dataSource" jndi-name="/jdbc/mrb" resource-ref="true" /> -->
	
	<!-- ... -->
</beans>